// Import material theming functions
@import "~@angular/material/theming";

.sidenav-container {
	height: 100%;
}

.sidenav {
	width: 200px;

	&__link {
		&_active {
			background-color: mat-color(mat-palette($mat-pink), A200) !important;
		}
	}
}

.sidenav .mat-toolbar {
	background: inherit;
}

.mat-toolbar {
	.mat-primary {
		position: sticky;
		top: 0;
		z-index: 1;
	}

	mat-slide-toggle {
		margin-left: auto;
	}
}
