<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
		[mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
		<mat-toolbar>Menu</mat-toolbar>
		<mat-nav-list>
			<a mat-list-item class="sidenav__link" routerLink="/" routerLinkActive="sidenav__link_active"
				[routerLinkActiveOptions]="{exact:
				true}">Home</a>
			<mat-divider></mat-divider>
			<a mat-list-item class="sidenav__link" routerLink="address"
				routerLinkActive="sidenav__link_active">Address</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary">
			<button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
				*ngIf="isHandset$ | async">
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>
			<span>Shell app</span>
			<mat-slide-toggle [checked]="(theme$ | async) === 'theme-dark'" (change)="switchMode($event)">
				<mat-icon aria-hidden="false" aria-label="Theme icon">
					{{ (theme$ | async) === 'theme-dark' ?
					'dark_mode'
					: 'light_mode' }}
				</mat-icon>
			</mat-slide-toggle>
		</mat-toolbar>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>